<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
	<center>
		<table border="1" width="100%" align="center">
			<tr align="center">
				<td width="100px">
					<img src="logo.png" width="150px" height="100px">
				</td>
				<td colspan="2" height="80px" align="right">
  		<a href="login.html"> Login</a> |
		<a href="signup.html"> Signup</a>
	</td>

	<tr align="center" height="450px">
		<td>
			<h2>Wellcome To The Company</h2>
		</td>
	</tr>
	<tr align="center">
		<td colspan="3" height="50px">
			Copyright@2021
	</td>
	 </tr>
		</table>
	</center>
</body>	
</html>