
<!DOCTYPE html>
<html>
<head>
    
    <title>Home --Welcome--</title>
</head>
<body>
    <table border="1" width="100%">
        <tr>
             <td>  <img src="logo.png" alt=""></td>
            <td width="600px"> </td>
            <td align="center">Logged in as | <a href="../controller.logout.php">Logout</td>
        </tr>
        <tr >
            <td >
                <b><h2>Account</h2></b>
                <hr>
                <ul>
                    <li><a href="dashboard.php">Dashboard</a></li>
                    <li><a href="profile.php">View Profile</a></li>
                    <li><a href="editProfile.php">Edit Profile</a></li>
                    <li><a href="picture_change.html">Change Profile Picture</a></li>
                    <li><a href="changePass.php">Change Password</a></li>
                    <li><a href="../controller/logout.php">Logout</a></li>
                </ul>
            </td>
            <td colspan="2" rowspan="2">  
                <fieldset>
                    <legend><b><h2>PROFILE PICTURE</h2></b></legend>
                    <form method="post" action="../controller/profile_picture_check.php" enctype="multipart/form-data">

                        <img src="user.png" height="150px" width="150px" alt=""><br>
                        <input type="file" name="myfile"><br>
                        <hr>
                        <input type="submit" name="submit" value="Upload" >
                     </form>
                    
                </fieldset>
            </td>
        </tr>
        <tr>
            <td  height="390px"></td>
        </tr>
        <tr>
            <td colspan="3" align="center">Copyright@2021</td>
        </tr>
    </table>
</body>
</html>